[submodule "src/toolchain"]
	path = src/toolchain
	url = git@bitbucket.org:jutze/toolchain.git
[submodule "src/utils"]
	path = src/utils
	url = git@bitbucket.org:jutze/utils.git
[submodule "gl"]
	path = gl
	url = git@bitbucket.org:jutze/gl.git
[submodule "img"]
	path = img
	url = git@bitbucket.org:jutze/img.git
[submodule "s_expr"]
	path = s_expr
	url = git@bitbucket.org:jutze/s_expr.git
